{% extends "layouts/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Django Realtime Notification!</h1>
    <p class="lead">This is a simple django, django channels project for realtime notifications.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  // Create WebSocket connection.
  const socket = new WebSocket('ws://' + window.location.host + '/ws/');

  // Connection opened
  socket.addEventListener('open', function (event) {
      socket.send('Hello!');
      socket.send('Websocket Connected!');
  });

  // Listen for messages
  socket.addEventListener('message', function (event) {
      console.log('Message from server ', event.data);
  });
</script>
{% endblock %}